.dashboard-container {
  position: relative;
  height: 400px;
  width: 700px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.controls {
  height: 100%;
  width: 100%;
  position: absolute;
  align-self: center;
}

.temperature,
.timer {
  margin-top: 75px;
  z-index: 1;
}
